$PWD
*.x
*.o
*.dSYM
.DS_Store
*.d
*.log
*.so
*.root
*.pcm
*.pdf
*.csv
*.swp
macros/LOG_HIST/
macros/HIST/
macros/Shell_HIST/
macros/Num_HIST/
macros/LOG_EFF/
macros/EFF/
macros/Shell_EFF/
macros/Num_EFF/
macros/config*
macros/*.tgz
macros/Shell/
macros/samples/
